<!DOCTYPE html>
<html lang=en>
	<nav class="flex-container">
		<ul class="flex-container list">
			<li>Browse</li>
			<li>Upload</li>
			<li>Profile</li>
		</ul>

		<div class-"searchbar">
			<form action="/search" method="get">
			</form>
		</div>
	</nav>
</html>