<!DOCTYPE html>
<html lang=en>
	<head>
		{% include './includes/head.njk' %}
	</head>
	<body id="primary">
		<header>
			{% include './includes/header.njk' %}
		</header>
		
		<body id="secondary-body">

			<div class="idk"></div>

		</body>
		
		<footer>
			{% include './includes/footer.njk' %}
		</footer>
	</body>
</html>