header {
	background-color: darkgrey;
	height: 50px;
	width: 100%;
	opacity: 50%;
}

#primary {
	background-color: black;
	background-image: linear-gradient(to bottom, darkgrey, black);
	height: 100%;
	width: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	justify-content: space-evenly;
}

.list {
	width: 33%;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

.navbar-items {
	width: 33%;
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	color: red;
}